.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.textCenter {
  text-align: center;
}

.bottomMargin {
  margin-bottom: 80px!important;
}

.iconWrap {
  vertical-align: middle;
  display: inline-flex;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}