.container {
  min-height: 100vh;
  width: 100%;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.bottomMargin {
  margin-bottom: 80px;
}

.minWidth {
  min-width: 300px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
